<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(){
			$("#but").click(function(){
				var n=$("#name").val();
				if(/^[a-zA-Z]+$/g.test(n))
				{
					window.location="/room?name="+n;
				}
				else
				{
					document.getElementById('er').innerHTML="Enter correct name !";
				}
			});
		});
	</script>
</head>
<body>
	<input id='name' type='text' placeholder='Enter Name' required>
	<button id='but'>Enter</button>
	<p id='er'></p>
</body>
</html>